default: &default
  adapter: postgresql
  encoding: unicode
  username:
  password:
  pool: 80

development:
  <<: *default
  database: test-api_development

test:
  <<: *default
  database: test-api_test
